In [2]:
fruits = [ "orange", "apple", "pear", "banana", "kiwi", "apple" ]
print(fruits)

['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple']

In [3]:
print(fruits[0])

orange

In [ ]:
rainbow_split = '빨-주-노-초-파-남-보'
print(rainbow_split.split('-')) # -를 구분자로 구분한 리스트를 만든다.

['빨', '주', '노', '초', '파', '남', '보']

In [6]:
list1 = []
list2 = list()

print(list1 == list2)
print(type(list1))
print(type(list2))

True
<class 'list'>
<class 'list'>

In [8]:
list3 = list('hello')
print(list3)

['h', 'e', 'l', 'l', 'o']

In [9]:
safari_list = ['Bear', 'Koala', 'Gorilla', 'Squirrel' ]
another_safari_list = [ 'Monkey', 'Tiger', 'Wolf' ]

print(safari_list + another_safari_list)

['Bear', 'Koala', 'Gorilla', 'Squirrel', 'Monkey', 'Tiger', 'Wolf']

In [12]:
safari_list = ['Bear', 'Koala', 'Gorilla', 'Squirrel' ]
print(safari_list * 4)

['Bear', 'Koala', 'Gorilla', 'Squirrel', 'Bear', 'Koala', 'Gorilla', 'Squirrel', 'Bear', 'Koala', 'Gorilla', 'Squirrel', 'Bear', 'Koala', 'Gorilla', 'Squirrel']

In [ ]:
fruits = [ "orange", "apple", "pear", "banana", "kiwi", "apple" ]

print("apple:", fruits.count('apple'))

apple: 2

In [14]:
print("test:", fruits.count('test'))

test: 0

In [18]:
print("index:", fruits.index('apple'))

index: 1

In [17]:
print("index:", fruits.index('apple', 3))

index: 5

In [19]:
fruits.reverse()
print(fruits)

['apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [20]:
lst = [ 1, 2, 3, 4, 5 ]
lst.reverse()
print(lst)

[5, 4, 3, 2, 1]

In [25]:
lst = [ 1, 2, 3, 4, 5 ]
lst2 = reversed(lst)

print(lst)
print(lst2)

[1, 2, 3, 4, 5]
<list_reverseiterator object at 0x106eec640>

In [26]:
fruits.append('pineapple')
print(fruits)

['apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'pineapple']

In [31]:
random = ['apple', 1, 2, 3, True, False, ['orange', 'kiwi'] ]
print(random[5])
print(random[6])
print(random[6][1])

False
['orange', 'kiwi']
kiwi

In [39]:
fruits.extend(['rainbow fruit', 'sweet lemon'])
print(fruits)

['apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'pineapple', 'rainbow fruit', 'sweet lemon', 'rainbow fruit', 'sweet lemon', 'rainbow fruit', 'sweet lemon', 'rainbow fruit', 'sweet lemon', 'rainbow fruit', 'sweet lemon']

In [41]:
fruits.insert(0, 'mokey banana')
print(fruits)

['mokey banana', 'mokey banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'pineapple', 'rainbow fruit', 'sweet lemon', 'rainbow fruit', 'sweet lemon', 'rainbow fruit', 'sweet lemon', 'rainbow fruit', 'sweet lemon', 'rainbow fruit', 'sweet lemon']

In [42]:
fruits.sort()
print(fruits)

['apple', 'apple', 'banana', 'kiwi', 'mokey banana', 'mokey banana', 'orange', 'pear', 'pineapple', 'rainbow fruit', 'rainbow fruit', 'rainbow fruit', 'rainbow fruit', 'rainbow fruit', 'sweet lemon', 'sweet lemon', 'sweet lemon', 'sweet lemon', 'sweet lemon']

In [43]:
fruits.sort(reverse=True)

In [44]:
print(fruits)

['sweet lemon', 'sweet lemon', 'sweet lemon', 'sweet lemon', 'sweet lemon', 'rainbow fruit', 'rainbow fruit', 'rainbow fruit', 'rainbow fruit', 'rainbow fruit', 'pineapple', 'pear', 'orange', 'mokey banana', 'mokey banana', 'kiwi', 'banana', 'apple', 'apple']

In [47]:
lst = [2, 3, 5 ,1, 4]
lst2 = sorted(lst)

print(lst)
print(lst2)

[2, 3, 5, 1, 4]
[1, 2, 3, 4, 5]

In [45]:
fruits.sort(key=len)
print(fruits)

['pear', 'kiwi', 'apple', 'apple', 'orange', 'banana', 'pineapple', 'sweet lemon', 'sweet lemon', 'sweet lemon', 'sweet lemon', 'sweet lemon', 'mokey banana', 'mokey banana', 'rainbow fruit', 'rainbow fruit', 'rainbow fruit', 'rainbow fruit', 'rainbow fruit']

In [46]:
temp = fruits.remove('sweet lemon')
print(temp)
print(fruits)

None
['pear', 'kiwi', 'apple', 'apple', 'orange', 'banana', 'pineapple', 'sweet lemon', 'sweet lemon', 'sweet lemon', 'sweet lemon', 'mokey banana', 'mokey banana', 'rainbow fruit', 'rainbow fruit', 'rainbow fruit', 'rainbow fruit', 'rainbow fruit']

In [48]:
temp = fruits.pop()
print(temp)
print(fruits)

rainbow fruit
['pear', 'kiwi', 'apple', 'apple', 'orange', 'banana', 'pineapple', 'sweet lemon', 'sweet lemon', 'sweet lemon', 'sweet lemon', 'mokey banana', 'mokey banana', 'rainbow fruit', 'rainbow fruit', 'rainbow fruit', 'rainbow fruit']

In [ ]:
plates = ['plate1', 'plate2']

plates.append('plate3')
plates.append('plate4')

In [50]:
print(plates)

['plate1', 'plate2', 'plate3', 'plate4']

In [52]:
print(plates.pop())
print(plates)
print(plates.pop())
print(plates)
print(plates.pop())
print(plates)

plate3
['plate1', 'plate2']
plate2
['plate1']
plate1
[]

In [54]:
abclist = [ 'A', 'B', 'C', 'D', 'E', 'F' ]
print(abclist)

['A', 'B', 'C', 'D', 'E', 'F']

In [55]:
del abclist[0]
print(abclist)

['B', 'C', 'D', 'E', 'F']

In [58]:
del abclist[1:3] # [이상:미만:간격]

In [57]:
print(abclist)

['B', 'E', 'F']

In [62]:
del abclist[:]
print(abclist)

NameError: name 'abclist' is not defined

In [63]:
abclist = [ 'A', 'B', 'C', 'D', 'E', 'F' ]
del abclist
print(abclist)

NameError: name 'abclist' is not defined

In [64]:
from collections import deque

dq = deque()

dq.append('a')
dq.append('b')
dq.append('c')

print(dq)

deque(['a', 'b', 'c'])

In [65]:
dq.appendleft('x')
print(dq)

deque(['x', 'a', 'b', 'c'])

In [66]:
value = dq.pop()
print(value)

left_value = dq.popleft()
print(left_value)

print(dq)

c
x
deque(['a', 'b'])

In [ ]:
tuples = (1, 2, 'hello')
print(tuples)
print(tuples[0])
print(tuples[1])
print(tuples[2])

(1, 2, 'hello')
1
2
hello

In [71]:
tuples = (1, 2, 'hello'), ('test', 1, 2, 3, 4)
print(tuples)
print(tuples[0])
print(tuples[1][0])

((1, 2, 'hello'), ('test', 1, 2, 3, 4))
(1, 2, 'hello')
test

In [72]:
no_wrap_tuples = 1, 2, 3
print(no_wrap_tuples)

(1, 2, 3)

In [74]:
testList = ( 1, 2, 3, 4 )
print(id(testList))

testList = ( 3, 4, 5 )
print(id(testList))

4421644944
4421297088

In [75]:
safari_tuple = ( 'bear', 'koala', 'gorilla', 'squirrel' )

In [76]:
another_safari_tuple = ("monkey", "tiger", "wolf")
result = safari_tuple + another_safari_tuple
print( result )

('bear', 'koala', 'gorilla', 'squirrel', 'monkey', 'tiger', 'wolf')

In [77]:
print(safari_tuple * 3)

('bear', 'koala', 'gorilla', 'squirrel', 'bear', 'koala', 'gorilla', 'squirrel', 'bear', 'koala', 'gorilla', 'squirrel')

In [78]:
print(len(result))

7

In [79]:
x, y, z = 1, 2, 3
print(x, y, z)

1 2 3

In [80]:
adress = '대한민국 서울시 서초구'
print(adress[5]) #서
print(adress[9]) #서

서
서

In [81]:
location = [ '서울', '부산', '인천', '광주', '울산' ]
print(location[3])

광주

In [82]:
adress = '대한민국 서울시 서초구'
print(adress[-3]) #서
print(adress[-7]) #서

서
서

In [83]:
print(location[-5])

서울

In [84]:
adress = '대한민국 서울시 서초구'
print(adress[5:8])

서울시

In [86]:
location = [ '서울', '부산', '인천', '광주', '울산' ]
print(location[2:])
print(location[-3:])

['인천', '광주', '울산']
['인천', '광주', '울산']

In [91]:
location = [ '서울', '부산', '인천', '광주', '울산' ]
print(location[-2:]) # 광주, 울산
print(location[-4:]) # 부산 인천 광주 울산
print(location[1::2]) # 부산 광주
print(location[2::-1]) # 인천 부산 서울

['광주', '울산']
['부산', '인천', '광주', '울산']
['부산', '광주']
['인천', '부산', '서울']

In [92]:
nation = ( '대한민국', '미국', '중국', '일본', '프랑스' )

print(nation[1:]) # 미국 중국 일본 프랑스
print(nation[-3:]) # 중국 일본 프랑스
print(nation[1:5:2]) # 미국 일본
print(nation[::-1]) # 프랑스 일본 중국 미국 대한민국

('미국', '중국', '일본', '프랑스')
('중국', '일본', '프랑스')
('미국', '일본')
('프랑스', '일본', '중국', '미국', '대한민국')

In [93]:
address = '대한민국 서울시 서초구'
print( '대한민국' in address )
print( '국민한대' in address )
print( '서울시서초구' in address )

True
False
False

In [94]:
nation = ('대한민국', '미국', '중국', '일본', '프랑스', ('대한민국', '미국'))
print('미국' in nation)                 # True
print(('대한민국', '미국') in nation)    # False

print(nation[-1][-1])

True
True
미국

In [96]:
address = '대한민국 서울시 서초구'
location = [ '서울', '부산', '인천', '광주', '울산' ]
nation = ('대한민국', '미국', '중국', '일본', '프랑스', ('대한민국', '미국'))

print(len(address)) #12
print(len(location)) #5
print(len(nation)) #6

12
5
6