### 정수값 = **int**

In [2]:
num1 = 1
num2 = 2
print(type(num1))
print(type(num2))

<class 'int'>
<class 'int'>

In [7]:
# 정수 진법별 접두사
# 2진수 (0, 1) : 0b
# 8진수 (0 ~ 7) : 0o
# 16진수 (0 ~ 15) : 0x

a = 100
print(a)

b = 0o23 # 8진수
print(b)

c = 0xff # 16진수
print(c)

100
19
255

### 실수값 = **float**

In [4]:
num3 = 3.14
num4 = 1.0
print(type(num3))
print(type(num4))

<class 'float'>
<class 'float'>

In [12]:
# 지수표현식
# 4.24E10 => 4.24 * 10*10, 4.24e-10 => 4.24 * 10**-10

a = 4.24e3
b = 4.24e-2
print(a)
print(b)

4240.0
0.0424

### 복소수형 = complex

In [5]:
num5 = 3 + 4j
print(type(num5))

<class 'complex'>

In [13]:
num1 = 10
num2 = 3

print(num1 + num2)
print(num1 - num2)
print(num1 / num2)
print(num1 * num2)

13
7
3.3333333333333335
30

In [15]:
# 자동형변환 (실수와 정수의 계산에서는 정수를 실수로 자동변환함)
num3 = 10
num4 = 0.1
print(num3 + num4)
print(num3 - num4)
print(num3 / num4)
print(num3 * num4)

10.1
9.9
100.0
1.0

In [16]:
num1 = 11
num2 = 7
print(num1 % num2)

4

In [ ]:
num1 = 11
num2 = 7
print(num1 // num2)

1

In [18]:
base = 9
exponent = 2
result = base ** exponent

print(result)

81

In [19]:
bool1 = True
bool2 = False
print(bool1)
print(bool2)

print(type(bool1))
print(type(bool2))

True
False
<class 'bool'>
<class 'bool'>

In [22]:
print(1 == 3) # False
print('ohgiraffers' != 'Ohgiraffers') # True
print(100 > 99) # True
print(100 < 99) # False
print(0 >= 1) # False
print(0 <= 1) # True

False
True
True
False
False
True

In [25]:
print('a' > 'A') # A = 65 ASCII code
print('a' < 'A') # a = 97 ASCII code

True
False

In [26]:
print(1 != 3 and 100 > 99 and True) # True
print(1 != 3 and 100 > 99 and 100 < 99) # False

True
False

In [31]:
print(1 != 3 or 100 > 99 or True) # True
print(1 != 3 or 100 > 99 or 100 < 99) # True
print(1 == 3 or False or 100 < 99) # False

True
True
False

In [33]:
print(not 'o'=="O")
print(not True)
print("o" != "O")

True
False
True

In [34]:
print("""
세상에서 제일 긴 게 뭘까요?
기차? 기린의 목? 코끼리의 코?
전부 아닙니다.
여러분의 무한한 가능성입니다^^
""")

세상에서 제일 긴 게 뭘까요?
기차? 기린의 목? 코끼리의 코?
전부 아닙니다.
여러분의 무한한 가능성입니다^^

In [36]:
"""
여러줄 주석을 쓸 때에도 사용
개발에 대한 주석
"""

'\n여러줄 주석을 쓸 때에도 사용\n개발에 대한 주석\n'

In [38]:
greeting = "반갑습니"
name = "다람쥐"
print(greeting + name)
print(greeting + "다. " + name + "입니다.")

반갑습니다람쥐
반갑습니다. 다람쥐입니다.

In [40]:
name = "카피바라"
print(str(900) + "살 " + name + "입니다.")

900살 카피바라입니다.

In [43]:
subject = "python"
print("무슨 일이든 시작 전에 세 번만 외쳐보자!" + (" 나는 " + subject + "을 잘할 수 있다.") * 3)

무슨 일이든 시작 전에 세 번만 외쳐보자! 나는 python을 잘할 수 있다. 나는 python을 잘할 수 있다. 나는 python을 잘할 수 있다.

### 문자열 replace()

In [44]:
enrole_date = '2024/12/16'
rep_enrole_date = enrole_date.replace("/", "-")

print(rep_enrole_date)

2024-12-16

In [45]:
origin = 'ohgiraffers'
with_white_space = '        oh giraffers        '

print(with_white_space.strip())

oh giraffers

In [47]:
print(with_white_space.strip('        o'))

h giraffers

In [49]:
print(origin.strip('os'))

hgiraffer

In [66]:
print(origin.lstrip("os"))
print(origin.rstrip("os"))

hgiraffers
ohgiraffer

In [55]:
origin_str  ='hELLO wORLD!'

print(origin_str.upper())
print(origin_str.lower())
print(origin_str.capitalize())
print(origin_str.swapcase())
print(origin_str.title())

HELLO WORLD!
hello world!
Hello world!
Hello World!
Hello World!

In [58]:
x = 10
print("x is %d" %x)

y = "code"
print("y is %s" %y)

x is 10
y is code

In [63]:
x, y = 10, "code"

print("x is {0}".format(x))
print("x is {0} y is {1}".format(x, y))
print("x is {new_x} and y is {new_y}".format(new_x=x, new_y=y))

x is 10
x is 10 y is code
x is 10 and y is code

In [64]:
teacher_name = "카피바라"

print(f"안녕하세요. 오늘부터 여러분과 함꼐 공부할 {teacher_name} 강사 입니다.")

안녕하세요. 오늘부터 여러분과 함꼐 공부할 카피바라 강사 입니다.

In [67]:
print(True + 3)
print(3 + 5.0)
print(type(True + 3))
print(type(5.0 + 3))

4
8.0
<class 'int'>
<class 'float'>

In [70]:
# print(3 + "5")
print(type(3))
print(type("5"))

<class 'int'>
<class 'str'>

In [71]:
print(int('3') + 4)

7

In [72]:
print(float('3') + 4)

7.0

In [75]:
print(str(1))
print(str(1.0))
print(str({1, 2, 3}))

1
1.0
{1, 2, 3}

In [76]:
print(list('ohgiraffers'))

['o', 'h', 'g', 'i', 'r', 'a', 'f', 'f', 'e', 'r', 's']

In [78]:
print(list((1, 2, 3, 4, 5)))

[1, 2, 3, 4, 5]

In [81]:
#dictionary를 list화하면 value는 사라지고 key값만 리스트화 된다.

print(list({
    "1": "사랑하는 우리반",
    "2": "열심히 공부하십시오.",
    "3": "선생님 부탁입니다."
}))

['1', '2', '3']