# 자료형 - 숫자

### **문제 1**

다음 조건에 맞게 변수를 선언하고 연산 결과를 출력하세요.

1. `num1`에 10을 저장하고, `num2`에 5를 저장합니다.
2. 두 변수를 더한 결과를 `sum_result`에 저장하고 출력하세요.

In [1]:
num1 = 10
num2 = 5

sum_result = num1 + num2
print(sum_result)

15

### **문제 2**

다음 조건에 맞게 변수를 선언하고 연산 결과를 출력하세요.

1. `x`에 7.5를 저장하고, `y`에 2를 저장합니다.
2. `x`를 `y`로 나눈 결과를 `result`에 저장하고 출력하세요.

In [2]:
x = 7.5
y = 2
result = x / y
print(result)

3.75

### **문제 3**

다음 조건을 만족하는 프로그램을 작성하세요.

1. `num1`에 15를 저장하고, `num2`에 4를 저장합니다.
2. 두 수의 **나머지**와 **몫**을 각각 구하여 출력하세요.

In [12]:
num1 = 15
num2 = 4
print(f"나머지: {num1 % num2}")
print(f"몫: {num1 // num2}")

나머지: 3
몫: 3

### **문제 4**

다음 조건에 맞는 변수를 선언하고 결과를 출력하세요.

1. `base`에 숫자 2를 저장하고, `exponent`에 숫자 5를 저장합니다.
2. `base`를 `exponent`만큼 제곱한 결과를 출력하세요.

In [36]:
base = 2
exponent = 5
print(base**exponent)

32

### **문제 5**

다음 조건에 맞는 프로그램을 작성하세요.

1. `number`라는 변수에 숫자 3을 저장합니다.
2. 이 숫자가 **짝수인지 홀수인지**를 확인하세요.

In [42]:
number = 3
print(number % 2 == 1)
# if number % 2 == 0:
#        print("짝수입니다.")
#    else:
#        print("홀수입니다.")

True

# 자료형 - 논리

### **문제 1**

다음 조건에 맞게 변수를 선언하고 연산 결과를 출력하세요.

1. `bool1` 변수에 `True`를 저장하고, `bool2` 변수에 `False`를 저장하세요.
2. 두 변수의 type을 확인하세요.

In [28]:
bool1 = True
bool2 = False

print(type(bool1))
print(type(bool2))

<class 'bool'>
<class 'bool'>

### 문제 2

다음 조건에 따라 **비교 연산 결과를 출력하는 코드**를 작성하세요.

1. 문자열과 숫자를 이용하여 다양한 비교 연산을 수행해보세요.
2. 각 비교식의 결과를 `print()` 함수를 사용하여 출력하세요.
3. 출력해야 하는 비교식은 다음과 같습니다.
    - `'hello'` 와 `'Hello'` 의 동일 여부
    - `100` 과 `100` 의 서로 다름 여부
    - `10` 과 `9` 의 대소 비교
    - `'a'` 와 `'A'` 의 대소 비교(문자 비교)

In [43]:
print('hello' == 'Hello')
print(100 != 100)
print(10 > 9)
print('a' > 'A')

False
False
True
True

### 문제 3

다음 조건에 맞게 변수를 선언하고, 주어진 논리 조건식의 결과를 출력하세요.

1. `name` 에 문자열 `'카피바라'`를 저장하세요.
2. `age` 에 정수 `20`을 저장하세요.
3. `gender` 에 문자열 `'male'`을 저장하세요.
4. 아래 조건을 각각 검사하여 `print()`로 결과를 출력하세요.
    - 이름이 `'카피바라'`이면 `True`
    - 나이가 **19세 이상이면 성인**으로 판단하고, 성인이면 `True`
    - 성인이면서 남성이면 `True`
    - 이름이 `'호랑이'`이고, 성인이며, **남성**이면 `True`
    - 이름이 `'카피바라'`이거나 성인이면 `True`
    - 이름이 `'카피바라'`가 아니라면 `True` (`not` 사용)

In [32]:
name = '카피바라'
age = 20
gender = 'male'

adult = age >= 19

print(name == "카피바라") # 1
print(adult) # 2
print(adult and gender == 'male') # 3
print(name == '호랑이' and adult and gender == 'male') # 4
print(name == '카피바라' or adult) # 5
print(not name == '카피바라') # 6

True
True
True
False
True
False

# 자료형 - 문자

### 문제 1

아래 조건에 맞게 변수를 선언하고 결과를 출력하세요.

1. `greeting_message` 변수에 문자열 `"Hello"`를 저장합니다.
2. `greeting_target` 변수에 `"World"`를 저장합니다.
3. 두 문자열을 이어 붙여 `"HelloWorld"`를 출력하세요.

In [33]:
greeting_message = "Hello"
greeting_target = "World"
hello_world = greeting_message + greeting_target
print(hello_world)

HelloWorld

### **문제 2**

1. f-string을 사용하여 다음 문장과 같은 형태로 출력하세요.
    1. `age`에 당신의 나이, `city`에 당신의 거주지를 저장합니다.
    - `"나는 25살이고, Seoul에 살고 있습니다."`

In [35]:
age = 29
city = 'seoul'

print(f"나는 {age}살이고, {city}에 살고 있습니다.")

나는 29살이고, seoul에 살고 있습니다.