In [8]:
print("123")

123

In [9]:
int num = 1

SyntaxError: invalid syntax (1275055405.py, line 1)

In [ ]:
num = 1
print("num")

num

### 좌항은 변수명, 우항은 원시 문자열로 표현된 자료

### 좌항은 변수명, 우항은 team_name 변수에 담긴 값 "ohgiraffers"

In [ ]:
team_name = "ohgiraffers"
my_team = team_name
print(my_team)

ohgiraffers

### 변수 = 공간

In [ ]:
x = 5
y = x
x = 10
print(x)
print(y)

10
5

In [ ]:
team_name = "skn-23기 화이팅!!" # snake_case
print(team_name)

Team_name = "skn-23 fighting!!"
print(Team_name)

# 카멜케이스는 Java, Javascript에서 사용

skn-23기 화이팅!!
skn-23 fighting!!

In [ ]:
우리팀 = "skn 23기"
print(우리팀) # 한글 사용은 지양

skn 23기

In [ ]:
team_1_name = "skn 2기"
team_1_name ## 정상

# 1_team_name = "skn 23기"
# 1_team_name -- 비정상

'skn 2기'

### 변수의 이름으로써 사용 불가능한 것들 확인

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [10]:
10

10

In [11]:
print(_)
print(_ * 3)

10
30

### 특정 값을 무시

In [14]:
x, _, z = (1, 2, 3)
print(x)    # 1
print(z)    # 3

1
3


### 앞에 *을 추가로 붙여 여러 개의 값 무시

In [13]:
x, *_, y = (1, 2, 3, 4, 5)
print(x)    # 1
print(y)    # 5

1
5

In [15]:
for _ in range(3):
    print("Hello")

Hello
Hello
Hello

In [17]:
million = 1_000_000_000_000
print(million)

1000000000000