### **문제 1**

아래 설명에 맞게 변수를 선언하고 값을 대입하세요.

1. `name`이라는 이름의 변수를 선언하고, **당신의 이름**을 문자열로 저장하세요.
2. `age`라는 이름의 변수를 선언하고, **당신의 나이**를 숫자로 저장하세요.

In [ ]:
name = "김다빈"
age = 29
print("이름: ", name)
print("나이: ", age)

이름:  김다빈
나이:  29

### **문제 2**

다음 조건에 맞게 변수를 작성해보세요.

1. `height`라는 변수에 **키**를 숫자형으로 저장하세요.
2. `dream`이라는 변수에 **당신의 목표**을 문자열로 저장하세요.

In [7]:
height = 173
dream = "수료하고 취업하기"
print(height)
print(dream)

173
수료하고 취업하기

### **문제 3**

변수에 담긴 값을 다른 변수에 대입하는 연습을 해봅시다.

1. `city`라는 변수에 **당신이 살고 있는 도시 이름**을 문자열로 저장하세요.

1. `my_city`라는 변수에 `city` 변수의 값을 대입하세요.
2. 두 변수를 각각 `print()`로 출력해보세요.

In [10]:
city = "서울"
my_city = city
print(city, my_city)

서울 서울

### **문제 4**

다음과 같은 규칙에 맞는 변수를 작성하세요.

1. **사과의 개수**를 나타내는 변수를 `apple_count`로 선언하고 숫자 `10`을 저장하세요.
    
    ---
    
2. **오렌지의 개수**를 나타내는 변수를 `orange_count`로 선언하고 숫자 `20`을 저장하세요.
3. 두 변수를 출력해보세요.

In [11]:
apple_count = 10
orange_count = 20
print(apple_count, orange_count)

10 20

### **문제 5**

다음과 같은 규칙을 지켜 변수를 작성하세요.

1. 변수 이름은 **스네이크 케이스**를 따릅니다.
2. `first_name`에 **당신의 이름의 첫 글자**를 문자열로 저장하세요.
3. `last_name`에 **당신의 성**을 문자열로 저장하세요.

1. `full_name` 변수에 `first_name`과 `last_name`을 이어붙여서 저장하세요.
2. `print()`를 사용해 `full_name`을 출력해보세요.

In [14]:
first_name = "다"
last_name = "김"
full_name = first_name + last_name
print(full_name)

다김